
body
{
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}

/* also koennen wir alles sehen */
nav, header, footer, div
{
	margin:0;
}

header
{
	padding: 0px;
	margin: 0px;
}


nav
{
	width: 100%;
}

/* li Elementen im nav */
.nav-menu 
{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	position: initial;
}

.nav-menu a li {
	padding: 1em 0.5em 1em 0.5em;
	display: block;
	margin: 0;
	
	border-bottom: solid 2px gray;
}

.nav-menu a
{
	float: left;
	height: 4.1em;
	padding: 0;
	margin: 0;
	margin-left: 0.5em;
	display:block;
	position: relative;
}

.nav-menu a li:hover
{
	background-color: #cfcfcf;
}

div.hauptinhalt
{
	float:top;
	position: relative;
	background-color: white;
	padding: 1em;
	margin: 0;
	margin-top: 30%; 
	min-height: 20em;
}

span.emph
{
	color: #A88C00;
}

.col2 {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

div.colbox {
	display:inline-block;
	/*column-width: 20em;*/
	padding: 0.5em;
	border: solid 1px black;
}

div.colbox img {
	float: left;
	
}

img.gif-display
{
	float: left;
	width: 32em;
	margin: 1em;
	display: block;
}

.kleinbild
{
	height: 24em;
}

img.logo
{
	float:left;
	margin: 1em;
}

img.gbild
{
	
	margin: 0px;
	width: 100%;
	position: absolute;
}

video
{
	width: 24em;
}

footer
{
	clear:both;
}

div.clear-both
{
	clear: both;
}