
body
{
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}

/* also koennen wir alles sehen */
nav, header, footer, div
{
	margin:0;
}

header
{
	padding: 0px;
	margin: 0px;
}

nav
{
	width: 100%;
	border-bottom: solid 1px #A88C00;	
}

/* li Elementen im nav */
.nav-menu 
{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	position: initial;
	
}

.nav-menu a li {
	padding: 1em 0.5em 1em 0.5em;
	display: block;
	margin: 0;
	
	border-bottom: solid 2px gray;
}

.nav-menu a
{
	float: left;
	height: 4.1em;
	padding: 0;
	margin: 0;
	margin-left: 0.5em;
	display:block;
	position: relative;
}

.nav-menu a li:hover
{
	background-color: #cfcfcf;
}

div.hauptinhalt
{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #ffffff;
	padding: 1em;
}

div.haupthintergrunt
{
	float:top;
	position: relative;
	padding: 0em;
	margin: 0;
	min-height: 20em;
	background-color: #efefef;
}

div.hauptseiteinhalt
{
	position: relative;
}

span.emph, h2
{
	color: #A88C00;
}

div.colbox {
	display:inline-block;
	/*column-width: 20em;*/
	padding: 0.5em;
	border: solid 1px black;
}

div.colbox img {
	float: left;
	
}

video
{
	margin: 1em;
	display:block;
	width: 32em;
}

img.gif-display
{
	width: 32em;
	margin: 1em;
	display: block;
}

.kleinbild
{
	height: 24em;
}

.kleinerbild
{
	height: 9em;
}

div.quote
{
	font-style: oblique;
	padding: 1em;
	margin-left: 2em;
	margin-right: 2em;	
	display: block;
	float: center;
}

div.left
{
	float: left;
	margin: 1em;
}

img.logo
{
	float:left;
	margin: 1em;
}

img.gbild
{
	
	margin: 0px;
	width: 100%;
	position: absolute;
}

h1.shadowgibts
{
	text-shadow: gray 0.1em 0.1em 0.2em;
}

footer
{
	display: block;
	padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	clear:both;
}

div.clear-both
{
	clear: both;
}


/* kontakt form dinge */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #DAA520;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #FFD700;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
